openapi: 3.0.4
info:
  title: Files
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
paths:
  /drives:
    get:
      tags:
      - drives.drive
      summary: Get entities from drives
      operationId: listDrive
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - name: $orderby
        in: query
        description: Order items by property values
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: orderby
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: select
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: expand
      responses:
        "2XX":
          $ref: '#/components/responses/driveCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - drives.drive
      summary: Add new entity to drives
      operationId: createDrive
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Drive'
        required: true
      responses:
        "2XX":
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Drive'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /drives/{driveId}:
    get:
      tags:
      - drives.drive
      summary: Get entity from drives by key
      operationId: getDrive
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: select
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: expand
      responses:
        "2XX":
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Drive'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - drives.drive
      summary: Delete entity from drives
      operationId: deleteDrive
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: If-Match
        in: header
        description: ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
        x-ballerina-name: ifMatch
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - drives.drive
      summary: Update entity in drives
      operationId: updateDrive
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Drive'
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Drive'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /drives/{driveId}/items:
    get:
      tags:
      - drives.driveItem
      summary: "drive: sharedWithMe"
      description: Get a list of driveItem objects shared with the owner of a drive.
        The driveItems returned from the sharedWithMe method always include the remoteItem
        facet that indicates they are items from a different drive.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/drive-sharedwithme?view=graph-rest-1.0
      operationId: listItem
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: orderby
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: select
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: expand
      responses:
        "2XX":
          $ref: '#/components/responses/driveItemCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - drives.driveItem
      summary: Create new navigation property to items for drives
      operationId: createItem
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItem'
        required: true
      responses:
        "2XX":
          description: Created navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /drives/{driveId}/items/{driveItemId}:
    get:
      tags:
      - drives.driveItem
      summary: Get items from drives
      description: All items contained in the drive. Read-only. Nullable.
      operationId: getItem
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: select
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: expand
      responses:
        "2XX":
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - drives.driveItem
      summary: Delete navigation property items for drives
      operationId: deleteItem
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      - name: If-Match
        in: header
        description: ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
        x-ballerina-name: ifMatch
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - drives.driveItem
      summary: Update the navigation property items in drives
      operationId: updateItem
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItem'
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /drives/{driveId}/items/{driveItemId}/children:
    get:
      tags:
      - drives.driveItem
      summary: List children of a driveItem
      description: Return a collection of DriveItems in the children relationship
        of a DriveItem. DriveItems with a non-null folder or package facet can have
        one or more child DriveItems.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/driveitem-list-children?view=graph-rest-1.0
      operationId: listChildren
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: orderby
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: select
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: expand
      responses:
        "2XX":
          $ref: '#/components/responses/driveItemCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - drives.driveItem
      summary: Create new navigation property to children for drives
      operationId: createChildren
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItem'
        required: true
      responses:
        "2XX":
          description: Created navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /drives/{driveId}/items/{driveItemId}/children/{driveItemId1}:
    get:
      tags:
      - drives.driveItem
      summary: Get children from drives
      description: Collection containing Item objects for the immediate children of
        Item. Only items representing folders have children. Read-only. Nullable.
      operationId: getChildren
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      - name: driveItemId1
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: select
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: expand
      responses:
        "2XX":
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /drives/{driveId}/items/{driveItemId}/children/{driveItemId1}/content:
    get:
      tags:
      - drives.driveItem
      summary: Get content for the navigation property children from drives
      description: "The content stream, if the item represents a file."
      operationId: getChildrenContent
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      - name: driveItemId1
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      - name: $format
        in: query
        description: Format of the content
        required: false
        style: form
        explode: false
        schema:
          type: string
        x-ballerina-name: format
      responses:
        "2XX":
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - drives.driveItem
      summary: Update content for the navigation property children in drives
      description: "The content stream, if the item represents a file."
      operationId: setChildrenContent
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      - name: driveItemId1
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      requestBody:
        description: New media content
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - drives.driveItem
      summary: Delete content for the navigation property children in drives
      description: "The content stream, if the item represents a file."
      operationId: deleteChildrenContent
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      - name: driveItemId1
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      - name: If-Match
        in: header
        description: ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
        x-ballerina-name: ifMatch
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
  /drives/{driveId}/items/{driveItemId}/children/$count:
    get:
      tags:
      - drives.driveItem
      summary: Get the number of the resource
      operationId: getChildrenCount
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        "2XX":
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /drives/{driveId}/items/{driveItemId}/content:
    get:
      tags:
      - drives.driveItem
      summary: Get content for the navigation property items from drives
      description: "The content stream, if the item represents a file."
      operationId: getItemsContent
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      - name: $format
        in: query
        description: Format of the content
        required: false
        style: form
        explode: false
        schema:
          type: string
        x-ballerina-name: format
      responses:
        "2XX":
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - drives.driveItem
      summary: Update content for the navigation property items in drives
      description: "The content stream, if the item represents a file."
      operationId: setItemsContent
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      requestBody:
        description: New media content
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - drives.driveItem
      summary: Delete content for the navigation property items in drives
      description: "The content stream, if the item represents a file."
      operationId: deleteItemsContent
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      - name: If-Match
        in: header
        description: ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
        x-ballerina-name: ifMatch
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
  /drives/{driveId}/items/{driveItemId}/microsoft.graph.assignSensitivityLabel:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action assignSensitivityLabel
      operationId: assignSentitivityLabel
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItemIdMicrosoftGraphAssignSensitivityLabelBody'
        required: true
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/items/{driveItemId}/microsoft.graph.checkin:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action checkin
      description: "Check in a checked out driveItem resource, which makes the version\
        \ of the document available to others."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/driveitem-checkin?view=graph-rest-1.0
      operationId: checkin
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItemIdMicrosoftGraphCheckinBody'
        required: true
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/items/{driveItemId}/microsoft.graph.checkout:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action checkout
      description: "Check out a driveItem resource to prevent others from editing\
        \ the document, and prevent your changes from being visible until the documented\
        \ is checked in."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/driveitem-checkout?view=graph-rest-1.0
      operationId: checkout
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/items/{driveItemId}/microsoft.graph.copy:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action copy
      operationId: copy
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItemIdMicrosoftGraphCopyBody'
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/items/{driveItemId}/microsoft.graph.createLink:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action createLink
      description: |-
        Create a link to share a driveItem driveItem. The createLink action creates a new sharing link if the specified link type doesn't already exist for the calling application.
        If a sharing link of the specified type already exists for the app, the existing sharing link is returned. DriveItem resources inherit sharing permissions from their ancestors.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/driveitem-createlink?view=graph-rest-1.0
      operationId: createLink
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItemIdMicrosoftGraphCreateLinkBody'
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/items/{driveItemId}/microsoft.graph.createUploadSession:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action createUploadSession
      operationId: createUploadSession
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItemIdMicrosoftGraphCreateUploadSessionBody'
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/items/{driveItemId}/microsoft.graph.discardCheckout:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action discardCheckout
      description: Discard the check out of a driveItem. This action releases a driveItem
        resource that was previously checked out. Any changes made to the item while
        it was checked out are discarded.  The same user that performed the checkout
        must discard it. Another alternative is to use application permissions.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/driveitem-discardcheckout?view=graph-rest-1.0
      operationId: discardCheckout
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/items/{driveItemId}/microsoft.graph.extractSensitivityLabels:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action extractSensitivityLabels
      operationId: extractSensitivityLabel
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractSensitivityLabelsResult'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/items/{driveItemId}/microsoft.graph.follow:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action follow
      description: Follow a driveItem.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/driveitem-follow?view=graph-rest-1.0
      operationId: follow
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/items/{driveItemId}/microsoft.graph.invite:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action invite
      description: |-
        Sends a sharing invitation for a driveItem.
        A sharing invitation provides permissions to the recipients and optionally sends them an email with a sharing link.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/driveitem-invite?view=graph-rest-1.0
      operationId: invite
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItemIdMicrosoftGraphInviteBody'
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfPermission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /drives/{driveId}/items/{driveItemId}/microsoft.graph.permanentDelete:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action permanentDelete
      operationId: permanentDelete
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/items/{driveItemId}/microsoft.graph.preview:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action preview
      operationId: preview
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItemIdMicrosoftGraphPreviewBody'
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemPreviewInfo'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/items/{driveItemId}/microsoft.graph.restore:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action restore
      description: Restore a driveItem that has been deleted and is currently in the
        recycle bin.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/driveitem-restore?view=graph-rest-1.0
      operationId: restore
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItemIdMicrosoftGraphRestoreBody'
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/items/{driveItemId}/microsoft.graph.search(q='{q}'):
    get:
      tags:
      - drives.driveItem
      summary: Invoke function search
      description: |-
        Search the hierarchy of items for items matching a query.
        You can search within a folder hierarchy, a whole drive, or files shared with the current user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/driveitem-search?view=graph-rest-1.0
      operationId: search
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      - name: q
        in: path
        description: "Usage: q='{q}'"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          nullable: true
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: select
      - name: $orderby
        in: query
        description: Order items by property values
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: orderby
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: expand
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfDriveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /drives/{driveId}/items/{driveItemId}/microsoft.graph.unfollow:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action unfollow
      description: Unfollow a driveItem.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/driveitem-unfollow?view=graph-rest-1.0
      operationId: unfollow
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/items/{driveItemId}/microsoft.graph.validatePermission:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action validatePermission
      operationId: validatePermission
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItemIdMicrosoftGraphValidatePermissionBody'
        required: true
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/items/$count:
    get:
      tags:
      - drives.driveItem
      summary: Get the number of the resource
      operationId: getItemCount
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        "2XX":
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /drives/{driveId}/microsoft.graph.recent():
    get:
      tags:
      - drives.drive.Functions
      summary: Invoke function recent
      description: |-
        List a set of items that have been recently used by the signed in user.
        This collection includes items that are in the user's drive and items they have access to from other drives.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/drive-recent?view=graph-rest-1.0
      operationId: recent
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: select
      - name: $orderby
        in: query
        description: Order items by property values
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: orderby
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: expand
      responses:
        "2XX":
          $ref: '#/components/responses/recentResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /drives/{driveId}/microsoft.graph.search(q='{q}'):
    get:
      tags:
      - drives.drive.Functions
      summary: Invoke function search
      description: |-
        Search the hierarchy of items for items matching a query.
        You can search within a folder hierarchy, a whole drive, or files shared with the current user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/driveitem-search?view=graph-rest-1.0
      operationId: searchWithinDriveItem
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: q
        in: path
        description: "Usage: q='{q}'"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          nullable: true
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: select
      - name: $orderby
        in: query
        description: Order items by property values
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: orderby
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: expand
      responses:
        "2XX":
          $ref: '#/components/responses/searchResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /drives/{driveId}/microsoft.graph.sharedWithMe():
    get:
      tags:
      - drives.drive.Functions
      summary: Invoke function sharedWithMe
      description: Get a list of driveItem objects shared with the owner of a drive.
        The driveItems returned from the sharedWithMe method always include the remoteItem
        facet that indicates they are items from a different drive.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/drive-sharedwithme?view=graph-rest-1.0
      operationId: sharedWithMe
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: select
      - name: $orderby
        in: query
        description: Order items by property values
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: orderby
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: expand
      responses:
        "2XX":
          $ref: '#/components/responses/sharedWithMeResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /drives/{driveId}/root:
    get:
      tags:
      - drives.driveItem
      summary: Get root from drives
      description: The root folder of the drive. Read-only.
      operationId: getRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: select
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: expand
      responses:
        "2XX":
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - drives.driveItem
      summary: Delete navigation property root for drives
      operationId: deleteRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: If-Match
        in: header
        description: ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
        x-ballerina-name: ifMatch
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - drives.driveItem
      summary: Update the navigation property root in drives
      operationId: updateRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItem'
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /drives/{driveId}/root:{pathToItem}:
    get:
      tags:
      - drives.driveItem
      summary: Get root from drives
      description: The root folder of the drive. Read-only.
      operationId: getItemByPath
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: pathToItem
        in: path
        description: Path relative to root folder
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: select
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: expand
      responses:
        "2XX":
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - drives.driveItem
      summary: Delete navigation property root for drives
      operationId: deleteItemByPath
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: pathToItem
        in: path
        description: Path relative to root folder
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: If-Match
        in: header
        description: ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
        x-ballerina-name: ifMatch
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - drives.driveItem
      summary: Update the navigation property root in drives
      operationId: updateItemByPath
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: pathToItem
        in: path
        description: Path relative to root folder
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItem'
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /drives/{driveId}/root/children:
    get:
      tags:
      - drives.driveItem
      summary: Get children from drives
      description: Collection containing Item objects for the immediate children of
        Item. Only items representing folders have children. Read-only. Nullable.
      operationId: listChildrenInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: orderby
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: select
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: expand
      responses:
        "2XX":
          $ref: '#/components/responses/driveItemCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - drives.driveItem
      summary: Create new navigation property to children for drives
      operationId: createChildrenInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItem'
        required: true
      responses:
        "2XX":
          description: Created navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /drives/{driveId}/root:{pathToFolder}:/children:
    get:
      tags:
      - drives.driveItem
      summary: Get children from drives
      description: Collection containing Item objects for the immediate children of
        Item. Only items representing folders have children. Read-only. Nullable.
      operationId: listItemsByPath
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: pathToFolder
        in: path
        description: Path relative to root folder
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: orderby
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: select
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: expand
      responses:
        "2XX":
          $ref: '#/components/responses/driveItemCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - drives.driveItem
      summary: Create new navigation property to children for drives
      operationId: createItemByPath
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: pathToFolder
        in: path
        description: Path relative to root folder
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItem'
        required: true
      responses:
        "2XX":
          description: Created navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /drives/{driveId}/root:{pathToItem}:/content:
    get:
      tags:
      - drives.driveItem
      summary: Get content for the navigation property children from drives
      description: "The content stream, if the item represents a file."
      operationId: getChildrenContentByPath
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: pathToItem
        in: path
        description: Path relative to root folder
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: $format
        in: query
        description: Format of the content
        required: false
        style: form
        explode: false
        schema:
          type: string
        x-ballerina-name: format
      responses:
        "2XX":
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - drives.driveItem
      summary: Update content for the navigation property children in drives
      description: "The content stream, if the item represents a file."
      operationId: setChildrenContentByPath
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: pathToItem
        in: path
        description: Path relative to root folder
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: New media content
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - drives.driveItem
      summary: Delete content for the navigation property children in drives
      description: "The content stream, if the item represents a file."
      operationId: deleteChildrenContentByPath
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: pathToItem
        in: path
        description: Path relative to root folder
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: If-Match
        in: header
        description: ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
        x-ballerina-name: ifMatch
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
  /drives/{driveId}/root/children/{driveItemId}:
    get:
      tags:
      - drives.driveItem
      summary: Get children from drives
      description: Collection containing Item objects for the immediate children of
        Item. Only items representing folders have children. Read-only. Nullable.
      operationId: getChildrenInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: select
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: expand
      responses:
        "2XX":
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /drives/{driveId}/root/children/{driveItemId}/content:
    get:
      tags:
      - drives.driveItem
      summary: Get content for the navigation property children from drives
      description: "The content stream, if the item represents a file."
      operationId: getChildrenContentInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      - name: $format
        in: query
        description: Format of the content
        required: false
        style: form
        explode: false
        schema:
          type: string
        x-ballerina-name: format
      responses:
        "2XX":
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - drives.driveItem
      summary: Update content for the navigation property children in drives
      description: "The content stream, if the item represents a file."
      operationId: setChildrenContentInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      requestBody:
        description: New media content
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - drives.driveItem
      summary: Delete content for the navigation property children in drives
      description: "The content stream, if the item represents a file."
      operationId: deleteChildrenContentInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: driveItemId
        in: path
        description: The unique identifier of driveItem
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: driveItem
      - name: If-Match
        in: header
        description: ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
        x-ballerina-name: ifMatch
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
  /drives/{driveId}/root/children/$count:
    get:
      tags:
      - drives.driveItem
      summary: Get the number of the resource
      operationId: getChildrenCountInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        "2XX":
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /drives/{driveId}/root/content:
    get:
      tags:
      - drives.driveItem
      summary: Get content for the navigation property root from drives
      description: "The content stream, if the item represents a file."
      operationId: getRootContent
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: $format
        in: query
        description: Format of the content
        required: false
        style: form
        explode: false
        schema:
          type: string
        x-ballerina-name: format
      responses:
        "2XX":
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - drives.driveItem
      summary: Update content for the navigation property root in drives
      description: "The content stream, if the item represents a file."
      operationId: setRootContent
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      requestBody:
        description: New media content
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - drives.driveItem
      summary: Delete content for the navigation property root in drives
      description: "The content stream, if the item represents a file."
      operationId: deleteRootContent
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: If-Match
        in: header
        description: ETag
        required: false
        style: simple
        explode: false
        schema:
          type: string
        x-ballerina-name: ifMatch
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
  /drives/{driveId}/root/microsoft.graph.assignSensitivityLabel:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action assignSensitivityLabel
      operationId: assignSentitivityLabelInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItemIdMicrosoftGraphAssignSensitivityLabelBody'
        required: true
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/root/microsoft.graph.checkin:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action checkin
      description: "Check in a checked out driveItem resource, which makes the version\
        \ of the document available to others."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/driveitem-checkin?view=graph-rest-1.0
      operationId: checkinInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItemIdMicrosoftGraphCheckinBody'
        required: true
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/root/microsoft.graph.checkout:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action checkout
      description: "Check out a driveItem resource to prevent others from editing\
        \ the document, and prevent your changes from being visible until the documented\
        \ is checked in."
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/driveitem-checkout?view=graph-rest-1.0
      operationId: checkoutInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/root/microsoft.graph.copy:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action copy
      operationId: copyInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItemIdMicrosoftGraphCopyBody'
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/root:{pathToItem}:/microsoft.graph.copy:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action copy
      operationId: copyByPath
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: pathToItem
        in: path
        description: Path relative to root folder
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItemIdMicrosoftGraphCopyBody'
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/root/microsoft.graph.createLink:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action createLink
      description: |-
        Create a link to share a driveItem driveItem. The createLink action creates a new sharing link if the specified link type doesn't already exist for the calling application.
        If a sharing link of the specified type already exists for the app, the existing sharing link is returned. DriveItem resources inherit sharing permissions from their ancestors.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/driveitem-createlink?view=graph-rest-1.0
      operationId: createLinkInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItemIdMicrosoftGraphCreateLinkBody'
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/root/microsoft.graph.createUploadSession:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action createUploadSession
      operationId: createUploadSessionInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItemIdMicrosoftGraphCreateUploadSessionBody'
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/root/microsoft.graph.discardCheckout:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action discardCheckout
      description: Discard the check out of a driveItem. This action releases a driveItem
        resource that was previously checked out. Any changes made to the item while
        it was checked out are discarded.  The same user that performed the checkout
        must discard it. Another alternative is to use application permissions.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/driveitem-discardcheckout?view=graph-rest-1.0
      operationId: discardCheckoutInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/root/microsoft.graph.extractSensitivityLabels:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action extractSensitivityLabels
      operationId: extractSensitivityLabelsInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractSensitivityLabelsResult'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/root/microsoft.graph.follow:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action follow
      description: Follow a driveItem.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/driveitem-follow?view=graph-rest-1.0
      operationId: followInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/root/microsoft.graph.invite:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action invite
      description: |-
        Sends a sharing invitation for a driveItem.
        A sharing invitation provides permissions to the recipients and optionally sends them an email with a sharing link.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/driveitem-invite?view=graph-rest-1.0
      operationId: inviteInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItemIdMicrosoftGraphInviteBody'
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfPermission'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /drives/{driveId}/root/microsoft.graph.permanentDelete:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action permanentDelete
      operationId: permanentDeleteInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/root/microsoft.graph.preview:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action preview
      operationId: previewInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItemIdMicrosoftGraphPreviewBody'
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemPreviewInfo'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/root/microsoft.graph.restore:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action restore
      description: Restore a driveItem that has been deleted and is currently in the
        recycle bin.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/driveitem-restore?view=graph-rest-1.0
      operationId: restoreInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItemIdMicrosoftGraphRestoreBody'
        required: true
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/root/microsoft.graph.search(q='{q}'):
    get:
      tags:
      - drives.driveItem
      summary: Invoke function search
      description: |-
        Search the hierarchy of items for items matching a query.
        You can search within a folder hierarchy, a whole drive, or files shared with the current user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/driveitem-search?view=graph-rest-1.0
      operationId: searchInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      - name: q
        in: path
        description: "Usage: q='{q}'"
        required: true
        style: simple
        explode: false
        schema:
          type: string
          nullable: true
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: select
      - name: $orderby
        in: query
        description: Order items by property values
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: orderby
      - name: $expand
        in: query
        description: Expand related entities
        required: false
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
        x-ballerina-name: expand
      responses:
        "2XX":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionOfDriveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /drives/{driveId}/root/microsoft.graph.unfollow:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action unfollow
      description: Unfollow a driveItem.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/driveitem-unfollow?view=graph-rest-1.0
      operationId: unfollowInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{driveId}/root/microsoft.graph.validatePermission:
    post:
      tags:
      - drives.driveItem
      summary: Invoke action validatePermission
      operationId: validatePermissionInRoot
      parameters:
      - name: driveId
        in: path
        description: The unique identifier of drive
        required: true
        style: simple
        explode: false
        schema:
          type: string
        x-ms-docs-key-type: drive
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriveItemIdMicrosoftGraphValidatePermissionBody'
        required: true
      responses:
        "2XX":
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  schemas:
    SensitivityLabel:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - $ref: '#/components/schemas/SensitivityLabel1'
    ActivitiesContainer:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - $ref: '#/components/schemas/ActivitiesContainer1'
    AuthenticationMethod:
      allOf:
      - $ref: '#/components/schemas/Entity'
      - $ref: '#/components/schemas/AuthenticationMethod1'
    ConfirmedBy:
      title: confirmedBy
      type: string
      enum:
      - none
      - user
      - manager
      - unknownFutureValue
      x-ms-enum-flags:
        isFlags: true
    PublicationFacet:
      title: publicationFacet
      type: object
      properties:
        checkedOutBy:
          $ref: '#/components/schemas/IdentitySet'
        level:
          type: string
          description: The state of publication for this document. Either published
            or checkout. Read-only.
          nullable: true
        versionId:
          type: string
          description: The unique identifier for the version that is visible to the
            current caller. Read-only.
          nullable: true
[...]
