name: CI

on: [push]

jobs:
    build:

        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Ballerina Build
              uses: ballerina-platform/ballerina-action/@master
              with:
                  args:
                      build -c
              env:
                  TOKEN_ENDPOINT: ${{ secrets.TOKEN_ENDPOINT }}
                  REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
                  APP_ID: ${{ secrets.APP_ID }}
                  APP_SECRET: ${{ secrets.APP_SECRET }}
                  