name: Dev/Staging BCentral Release

on:
  workflow_dispatch:
    inputs:
      bal_central_environment:
        description: Ballerina Central Environment
        type: choice
        options:
        - STAGE
        - DEV
        required: true

jobs:
    release:
        runs-on: ubuntu-latest
        env: 
          BALLERINA_${{ github.event.inputs.bal_central_environment }}_CENTRAL: true

        steps:
            - uses: actions/checkout@v2
            - name: Ballerina Build
              uses: ballerina-platform/ballerina-action/@2201.2.1
              with:
                  args: pack ./onedrive

            - name: Push to Staging
              uses: ballerina-platform/ballerina-action/@2201.2.1
              if: github.event.inputs.bal_central_environment == 'STAGE'
              with:
                  args: push
              env:
                  WORKING_DIR: ./onedrive
                  BALLERINA_CENTRAL_ACCESS_TOKEN: ${{ secrets.BALLERINA_CENTRAL_STAGE_ACCESS_TOKEN }}
                  
            - name: Push to Dev
              uses: ballerina-platform/ballerina-action/@2201.2.1
              if: github.event.inputs.bal_central_environment == 'DEV'
              with:
                  args: push
              env:
                  WORKING_DIR: ./onedrive
                  BALLERINA_CENTRAL_ACCESS_TOKEN: ${{ secrets.BALLERINA_CENTRAL_DEV_ACCESS_TOKEN }}
